.footer-wrap {
    background-color: rgb(53, 53, 53);
}

.footer {
    padding: 1.3rem 0 2rem 1.5rem;
    & h3 {
        font-family: 'Shrikhand';
        margin: 0;
        color: white;
        font-weight: normal;
    }
    &__field {
        font-weight: lighter;
        margin-top: 1rem;
        color: rgba(245, 245, 245, 0.842);
        font-size: medium;
        line-height: 1.6rem;
        list-style: none;
        text-decoration: none;
        & i {
            width: 1.8rem;
        }
        &--bold {
            color: white;
        }
        a {
            color: rgba(245, 245, 245, 0.842);
        }
    }
}