.imgCoverNote {
    background-image: url(../../images/restaurants/LaNoteEnchantee.jpg);
    height: 230px;
    width: 100%;
    z-index: -1;
    background-size: cover;
    margin-bottom: -2em;
}

.foodChoice {
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 1rem 1rem 0 1rem;
        & h2 {
            font-family: "Shrikhand";
            font-style: oblique 40deg;
            font-weight: normal;
            font-size: 2rem;
        }
        & i {
            font-size: 1.5rem;
            color: $greyHeart;
        }
    }
    &__card {
        &--title {
            & h3 {
                margin: 2rem 0 0 0;
            }
        }
        &--bloc {
            margin: 1rem;
            padding: .5rem .5rem;
            border: 1px solid black;
            border-radius: 15px;
            & div {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

button {
    @include pink-btn;
}