.delice {
    background-image: url(../../images/restaurants/LeDeliceDesSens.jpg);
}

.palette {
    background-image: url(../images/restaurants/LaPaletteDuGout.jpg);
}

.francaise {
    background-image: url(../images/restaurants/ALaFrancaise.jpg);
}

.noteEnchantee {
    background-image: url(../images/restaurants/LaNoteEnchantee.jpg);
    background-position: center;
}

.imgCover {
    height: 290px;
    width: 100%;
    margin-bottom: -3.5rem;
    background-size: cover;
}

.container-page {
    background-color: $background-light;
    border-radius: 40px 40px 0 0;
    padding-top: .3rem;
}

.foodChoice {
    margin: 1rem 1rem 0 1rem;
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1rem 0;
        & h2 {
            font-family: "Shrikhand";
            font-style: oblique 40deg;
            font-weight: normal;
            font-size: 2rem;
        }
        & i {
            font-size: 1.5rem;
            color: $greyHeart;
        }
    }
    &__card {
        @media screen and (min-width: 1023) {
            width: 40%;
        }
        &--title {
            & h3 {
                margin: 2rem 0 0 .5rem;
                text-transform: uppercase;
                font-weight: lighter;
                color: rgb(95, 89, 89);
            }
            & hr {
                height: 3px;
                margin-left: .5rem;
                width: 12%;
                background-color: rgb(162, 222, 205);
                border: none;
                @media screen and (min-width: 767px) {
                    width: 8%;
                }
                @media screen and (min-width: 1023px) {
                    width: 5%;
                }
                @media screen and (min-width: 1439px) {
                    width: 4%;
                }
                @media screen and (min-width: 2000px) {
                    width: 2%;
                }
            }
        }
        &--bloc {
            &>div {
                margin: 1rem 0 1rem;
                padding: .5rem .5rem;
                border-radius: 15px;
                background-color: white;
                box-shadow: 0px 0px 10px 0px rgb(141 133 133 / 25%);
                & div {
                    display: flex;
                    justify-content: space-between;
                }
                & p {
                    margin-top: .2rem;
                }
                & span {
                    padding-right: .5rem;
                    font-weight: bold;
                }
            }
        }
    }
    &__button {
        display: flex;
        justify-content: center;
        padding: 2.5rem 0 4.5rem;
        button {
            @include pink-btn;
            padding: 1rem 3.5rem;
        }
    }
}