body {
    font-family: "Roboto";
    margin: 0;
}

.container {
    margin: auto;
}

h1 {
    margin: 0;
    padding: .6rem 0 .2rem 0;
    color: black;
    font-weight: 300;
    font-size: 2rem;
}

h2,
h3,
h4,
p {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "Shrikhand";
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    object-fit: cover;
}

.colored {
    background: linear-gradient( 0deg, $secondary-color 0%, $primary-color 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heartEmpty {
    color: $greyHeart;
    cursor: pointer;
}

.heartColored {
    display: none;
    cursor: pointer;
}

.heart {
    display: none;
}

.heart:checked~.heartColored {
    display: block;
    animation: favApparition 1.5s;
}

.heart:checked~.heartEmpty {
    display: none;
}

@keyframes favApparition {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}