@mixin pink-btn {
    background: linear-gradient($secondary-color 0%, $primary-color 100%);
    color: white;
    font-size: 1rem;
    border-radius: 3rem;
    border: none;
    padding: 1rem 1.5rem;
    box-shadow: 2px 5px 10px 1px rgb(141 133 133 / 48%);
    cursor: pointer;
    &:hover {
        box-shadow: 2px 5px 10px 1px rgb(141 133 133 / 95%);
        filter: brightness(1.05);
    }
}