.header-index {
    // Title page at the center of the page
    text-align: center;
    &__location {
        background-color: rgb(234, 234, 234);
        box-shadow: inset 0 2px rgb(214, 214, 214);
        &--text {
            & span {
                position: relative;
            }
            & i {
                // Position absolute so the 'align-center' is applying only to the span
                left: -1.9rem;
            }
            font-weight: bold;
            color: rgb(49, 48, 48);
            padding: 1rem 0 1rem 0;
        }
    }
    &__description {
        background-color: $background-light;
        padding: 1.5rem 1.5rem 3rem 1.5rem;
        & h2 {
            margin: 1rem 3rem;
            font-size: 1.6rem;
        }
        & p {
            margin: 1rem 0 1rem;
            font-size: 1.3rem;
            color: rgba(37, 36, 36, 0.664);
        }
        & button {
            margin: .5rem 0 .5rem;
            // Call the component 'pink-btn'
            @include pink-btn;
        }
    }
}

.navigation {
    & h2 {
        padding: 2.5rem 0 0 1.3rem;
        // h2 in the center of the screen for Tablet & Desktop
        @media screen and (min-width: 768px) {
            text-align: center;
        }
    }
    & ul {
        // Elements of the ul positions itself thanks to flexbox
        // Smartphone : one below another
        // Tablet/Desktop : In the same line or the element wich come out of the screen go below the others
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 1rem 0 3rem 0;
        & li {
            margin: .8rem .8rem .8rem 1rem;
            display: flex;
            max-width: 20rem;
            width: 100%;
            background-color: #F6F6F6;
            border-radius: 25px;
            box-shadow: 1px 6px 15px -5px rgb(141 133 133 / 48%);
            -webkit-box-shadow: 2px 1px 10px 1px rgb(148 143 143 / 48%);
            -moz-box-shadow: 2px 1px 10px 1px rgba(146, 142, 142, 0.171);
            position: relative;
            & span {
                text-align: center;
                line-height: 25px;
                color: white;
                background-color: $primary-color;
                border-radius: 50%;
                height: 25px;
                width: 25px;
                position: absolute;
                top: 1.25rem;
                left: -.75em;
            }
            & .fas {
                color: grey;
            }
            & i {
                padding: 0 1rem 0 1rem;
                margin: 1.5rem 1rem 1.5rem 1.5rem;
            }
            & p {
                margin: 1.5rem 0 1.5rem 0;
                font-weight: bold;
            }
        }
        & li:hover {
            // On hover, change color for each li
            background-color: rgb(245, 237, 255);
            & .fas {
                color: $primary-color;
            }
        }
    }
}